{
  "presets": [
    "react-native"
  ],
  "sourceMaps": true,
  "plugins": [
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd-mobile"
      }
    ]
  ]
}
